<div class="user-account-nav user-account-sidebar">
    <div class="user-nav-list">
        <ul>
            <li class="active"><a href="restaurant-dashboard.html"><i class="icon-dashboard3"></i>Dashboard</a></li>
            <li><a href="restaurant-restaurant.html"><i class="icon-building"></i>My Restaurant</a></li>
            <li><a href="restaurant-menu-builder.html"><i class="icon-menu5"></i>Menu Builder</a></li>
            <li><a href="restaurant-orders.html"><i class="icon-add_shopping_cart"></i>Orders</a></li>
            <li><a href="restaurant-bookings.html"><i class="icon-file-text2 "></i>Bookings</a></li>
            <li><a href="restaurant-reviews.html"><i class="icon-comment2"></i>Reviews</a></li>
            <li><a href="restaurant-memberships.html"><i class="icon-card_membership"></i>Memberships</a></li>
            <li><a href="restaurant-withdrawals.html"><i class="icon-bill"></i>Withdrawals</a></li>
            <li><a href="restaurant-earnings.html"><i class="icon-money"></i>Earnings</a></li>
            <li><a href="restaurant-statement.html"><i class="icon-file-text22"></i>Statement</a></li>
            <li><a href="restaurant-team-management.html"><i class="icon-flow-tree"></i>Team Management</a></li>
            <li><a href="restaurant-change-password.html"><i class="icon-unlock-alt"></i>Change Password</a></li>
            <li><a id="profile_delete" href="#"><i class="icon-delete"></i>Delete Profile</a></li>
            <li><a class="logout-btn" href="registration.html"><i class="icon-log-out"></i>Signout</a></li>
        </ul>
    </div>
</div>